$border-background-color:#BFC9CA;
$submit-backfround-color:#027E26;

.submit {
  background-color: $submit-backfround-color;
  margin-top:30px;
  margin-bottom: 20px;
}
.signup {
  margin-top: 20px;
}

form, input, optgroup, select {
  padding-top: 30px;
}

.loginForm {
  text-align: center;
  padding-top:30px;
}




