<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <div *ngIf="username">
      <ion-buttons end>{{username}}</ion-buttons>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
  <ion-card *ngFor="let item of server.data">
    <div text-center>
      <ion-img width="160" height="160" src={{item.img}} (click)="imageClick()"></ion-img>
    </div>
    <ion-card-content>
      <div text-center>
        <ion-card-title>
        {{item.title}}
        </ion-card-title>
        <p>
          {{item.description}}
        </p>
        <button ion-button (click)="imageClick()">More Info</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
